.container {
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.searchform {
    margin-top: 1%;
    margin-left: 5%;    
}

.container input[type=text] {
    width: 400px;
    height: 35px;
    margin: 8px 0;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}